<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="mobileoptimized" content="0">
		<title><?= $title ?> &mdash; Documents &amp; Templates &mdash; Cover</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" type="text/css">
		<link rel="stylesheet" href="//cdl.svcover.nl/dist/v0.1/css/cdl.css" type="text/css">
		<link rel="stylesheet" href="<?=sd_static_path('css/sd.css')?>" type="text/css">
	</head>
	<body>
		<nav class="navbar navbar-cover">
			<div class="container-fluid">
				<div class="navbar-header">
					<button class="navbar-toggle collapsed navicon-button" href="#navbar-main-collapse" data-toggle="collapse" aria-expanded="false" aria-controls="navbar-main-collapse">
						<span class="navicon navicon-white"></span>
					</button>
					<a class="navbar-logo" href="//www.svcover.nl/"><img src="//cdl.svcover.nl/dist/v0.1/img/cover.png" alt="Cover"></a>
					<a class="navbar-brand" href="<?=sd_link_path('/')?>">Documents<span class="hidden-xxxs"> &amp; Templates</span></a>
				</div>
				<div class="collapse navbar-collapse" id="navbar-main-collapse">
					<ul class="navbar-right">
						<?php if(!get_cover_session()): ?>
							<li><a href="<?= cover_login_url() ?>">Log in</a></li>
						<?php else: ?>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
									<i class="fa fa-angle-down"></i>
								</a>
								<ul class="dropdown-menu">
									<li class="dropdown-header">Logged in as <?= get_cover_session()->voornaam ?></li>
									<li><a href="<?= cover_logout_url() ?>">Logout</a></li>
								</ul>
							</li>
						<?php endif; ?>
					</ul>
				</div>
				<form class="search collapsed" method="get" action="<?=sd_link_path('/:search')?>">
					<input type="search" name="q" placeholder="Search…">
					<a id="toggle-search" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
				</form>
			</div>
		</nav>
		<div class="content container-fluid">
			<?= $content ?>
		</div>
		<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="<?=sd_static_path('js/sd.js')?>"></script>
		<script>
			window.search_url = '<?=sd_link_path('/:search')?>';
		</script>
	</body>
</html>
