html, body {
	font: 16px/24px sans-serif;
}

form {
	margin: 0;
	padding: 0;
}

/* SD specific CDL overrides */
nav.navbar-cover a.navbar-brand .hidden-xxxs{
    display: none;
}

@media (min-width: 400px) {
    nav.navbar-cover a.navbar-brand .hidden-xxxs{
        display: inline;
    }
}

@media (max-width: 520px) {
    nav.navbar-cover a.navbar-logo{
        display: none;
    }
}

@media (max-width: 767px) {
    nav.navbar-cover .dropdown ul{
        margin-top: 0px;
        border-top: none;
    }
}

/* Search bar */
nav.navbar-cover form.search{
	position: absolute;
	top: 0;
	right: 3.5rem;
    display: block;
    font-size: 16px;
    vertical-align: top;
    box-sizing: border-box;
}

nav.navbar-cover form.search input{
    color: #222;
    background: #dadada;
    border: none;
    padding: 0 0;
    width: 0;
    position: absolute;
    top: 0;
    right: 0;
	transition: width .15s ease-out;
}

nav.navbar-cover form.search a{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1.1rem;
	transition: color .15s ease-out;
}

nav.navbar-cover form.search:not(.collapsed) input,
nav.navbar-cover form.search:hover input{
	width: 15em;
    padding: 0 1.1rem;
}

nav.navbar-cover form.search:not(.collapsed) a,
nav.navbar-cover form.search:hover a{
	color: #222;	
    background: #dadada;
}

@media (min-width: 768px) {
	nav.navbar-cover form.search{
		float: right;
		position: relative;
		top: 0;
		right: 0;
        display: inline-block;
        line-height: inherit;
        height: 64px;
    }
}

.content{
	padding: 1rem;
}

@media (min-width: 768px) {
	.content{
		padding: 1rem 2rem;
	}
}

.content .call-for-exams {
	text-align: center;
}

ul {
	margin: 0;
	padding: 0 0 0 2em;
}

/* Fancy directory icons */

.link > a::before,
.directory > a::before{
	display: inline-block;
	font-family: 'FontAwesome';
	width: 1.28571429em;
	text-align: center;
	margin-right: 0.5em;
	text-rendering: auto;
	content: "";
}
.directory > a::before{
	content: "\f114"; /* Folder icon */
}

.directory.open > a::before{
	content: "\f115"; /* Open folder icon */
}

.link > a::before{
	content: "\f08e"; /* External link icon */
}

.file > .search-excerpt {
	quotes: "“" "”" "‘" "’";
	color: #555;
	margin-left: 4px;
	background: white;
}

.file > .search-excerpt:before {
	content: open-quote;
}

.file > .search-excerpt:after {
	content: close-quote;
}

.file > .search-excerpt > .keyword {
	font-weight: bold;
}

.file > .search-excerpt > .glue {
	color: #ccc;
}

.directory,
.file{	
	position: relative;
}

.file:hover {
	background: #eee;
}

.file:hover > .search-excerpt {
	background: transparent;
}

.file > small {
	font-size: 1em;
	color: #555;
	z-index: -1;
}

.file > .file-size,
.file > .file-mtime,
.file > .file-permissions {
	display: none;
	position: absolute;
	z-index: 10;
	color: #999;
}

.file > .file-permissions{
	display: none;
	color: #999;
	right: 0;
}


@media (min-width: 400px) {
	.file > .file-permissions{
		display: inline-block;
	}
}

@media (min-width: 768px) {
	.file > .file-size,
	.file > .file-mtime,
	.file > .file-permissions{
		display: inline-block;
	}

	.file > .file-size {
		right: 11em;
	}

	.file > .file-mtime {
		right: 2em;
	}
}
